<mat-toolbar>
    <span>Arview Test App</span>
</mat-toolbar>


<div class="container">
    <div class="flex-row justify-sa">
        <div class="add-task-block">
            <mat-form-field appearance="fill" class="full">
                <mat-label>Выберите дату</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="date" (dateInput)="onDateInput()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button (click)="addTask()" class="full" [disabled]="appState !== APP_STATES.readyToAdd">
                Добавить
            </button>
        </div>
        <div class="tasks">
            <ng-container *ngIf="taskService.filteredTasks.length; else noItems">
                <div class="task-item" *ngFor="let task of taskService.filteredTasks">
                    <div class="flex-row justify-sb">
                        <h2>{{task.title}}</h2>
                        <div class="edit-btns">
                            <button mat-icon-button color="primary" (click)="editTask(task)" aria-label="Изменить">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="removeTask(task)" aria-label="Удалить">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <ng-container *ngIf="task.type == TASK_TYPES.holiday">
                        <p>Бюджет: {{task.cost}}$</p>
                    </ng-container>
                    <ng-container *ngIf="task.type == TASK_TYPES.event">
                        <p>Адрес: {{task.address}}</p>
                        <p>Время: {{task.time}}</p>
                    </ng-container>
                    <ng-container *ngIf="task.type == TASK_TYPES.other">
                        <p>{{task.other}}</p>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noItems>
                <div class="task-item">
                    <h2>Выберите дату с заметками</h2>
                </div>
            </ng-template>
        </div>
    </div>
</div>